// Purple Scheme
$mainDark: #10002b;
// dark purples
$darkpurple1: #240046;
$darkpurple2: #3c096c;
$darkpurple3: #5a189a;
$darkpurple4: #7b2cbf;
// light purple
$lightpurple1: #9d4edd;
$lightpurple2: #c77dff;

// Pinks
$pink1: #e0aaff;
$pink2: #e6bbff;
$pink3: #ebc9ff;

// blue Scheme
$darkBlue: #0b0c10;
$greyBlue: #1f2833;
$lightGrey: #c5c6c7;
$lightTurq: #66fcf1;
$blurTurq: #1c10e8;
$comfort: #fff7ea;

// font
$modernArti: "Poppins Light";
$playFair: "Playfair Display";
$montserrat: "Montserrat Light";
$spaceGrotesk: "Space Grotesk";
